.circleImage {
  border-radius: 50%;
  outline: 1rem solid gray;
  height: 120px;
  width: 120px;

}

.projectDisplayComponent {
  outline: 1rem solid gray;
  background-color: lightGray;
  height: 80px;
  width: 70%;
  margin-top: 2%;

}

.projectComponent {
  display: flex;
  position: relative;
  width: 80%;
  margin-top: 20px;
  margin: 10% 3%;
}

.btn {
  margin: 3%;
}

.title{
  padding: 0 15px;
  position: absolute;
  bottom: 78%;
  left: 10%;
  background-color: #333333;
  color: white;
  font-size: 2rem;
  
}
