.searchComponent {
    margin:auto;
    width : 80%;
    
    
    background-color: transparent;
    
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-color: white;
    padding:20px;
    box-shadow: 10px 5px 5px black;
    
    
    

    border-style:groove double;
    
    
    z-index:100;
}
.searchParam{
    font-size: small;
    color:beige;
    
}