/*---------------------------------
  Name: HeroResultPage.css
  Author: Wootae Yang
  Description: HeroResultPage Style
---------------------------------*/

.THIS.wrapper {
    width: 90vw;
    color: darkgrey;
    min-height: 100vh;
}

.THIS .pass {
    color: rgb(131, 253, 131);
    pointer-events: none;
    font-weight: 800;
}

.THIS .flex-wrapper {
    display: flex;
    gap: 1em;
}

.THIS .flex-wrapper .main-panel {
    min-width: 50vw;
}

.THIS .flex-wrapper .titan-tabs {
    min-width: 20vw;
    /* border: 1px solid red; */
}

.THIS .flex-wrapper .right-panel {
    min-width: 20vw;
    /* border: 1px solid red; */
}

.THIS .exam-btn-group {
    display: grid;
    grid-template-rows: repeat(1fr);
    /* width: 60%; */
    gap: 0.5em;
    margin: 0 auto;
}

.THIS .exam-btn {
    padding: 5px;
    border: 2px solid white;
    background: white;
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    height: 30px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
}

.THIS .exam-btn:hover {
    color: white;
    background-color: lightgreen;
    border: 2px solid lightgreen;
    box-shadow: 3px 3px 2px black;
}

.THIS .titan-tab-group {
    display: flex;
    flex-direction: column;
    min-width: 19vw;
    gap: 0.3em;
}

.THIS .titan-tab {
    padding: 5px;
    color: black;
    background: white;
    border-left: 3px solid white;
    cursor: pointer;
    transition: 0.3s;
}

.THIS .titan-tab:hover {
    border-left: 3px solid red;
    box-shadow: 3px 3px 2px black;
}

.THIS .right-panel-btn-group {
    text-align: right;
    display: flex;
    flex-direction: column;
    min-width: 19vw;
    gap: 0.3em;
}

.THIS .pbp-btn {
    padding: 5px;
    width: 100%;
    color: black;
    background: white;
    border-right: 3px solid white;
    cursor: pointer;
    transition: 0.3s;
}

.THIS .pbp-btn:hover {
    border-right: 3px solid red;
    box-shadow: 3px 3px 2px black;
}
.THIS .back-btn {
    padding: 5px;
    width: 100%;
    color: black;
    background: white;
    border-right: 3px solid white;
    cursor: pointer;
    transition: 0.3s;
}

.THIS .back-btn:hover {
    border-right: 3px solid red;
    box-shadow: 3px 3px 2px black;
}

.THIS .back-exams-btn {
    padding: 5px;
    width: 100%;
    color: black;
    background: white;
    cursor: pointer;
    transition: 0.3s;
    border-left: 3px solid white;
}
.THIS .back-exams-btn:hover {
    border-left: 3px solid red;
    box-shadow: 3px 3px 2px black;
}

.THIS .disabled {
    opacity: 0.5;
}