/*  
    Created by Theodore Moore 5/16/22
*/

@import "c/styleResource";

.content-container {
    display: flex;
    justify-content: flex-start;
    /*background-color: #FFC0CB;*/
    /*background-image: linear-gradient(to right, rgba(0,0,0,0), var(--color-secondary));
    /* Round right corners to align with the profile picture */
    /*border-radius: 0 calc(var(--photo-small)/2) calc(var(--photo-small)/2) 0; */
}

.image-container {
    width: var(--photo-small);
    height: var(--photo-small);
    margin: 0 0 0 var(--space-xsmall);
}

img {
    border-radius: 50%;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: var(--space-xsmall);
}

.hero-name {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    font-size: var(--font-size-name);
}

.hero-title {
    font-size: var(--font-size-subheading);
    padding-bottom: calc(var(--space-xsmall)/4);
}

.cert-container {
    display: flex;
    align-items: center;
}

.cert-text {
    font-size: var(--font-size-subheading);
    margin: 0 calc(var(--space-xsmall)/4);
}


