.spacing {
    display: inline-block;
}

.width {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 12px;
    border-radius: 5px;
    background-color: #c4c4c4;
}
