/*
	Name: Single Video stylesheet
	Author: Alyssa Reed
	Description: CSS stylesheet for singleVideo */


.THIS {
	min-height: 40vh;
}

.THIS p{
    font-weight:600;
    font-variant:small-caps;
    
}

.THIS span{
    font-size: 1.15em;
}

.THIS .boxStyle{
    background-color: whitesmoke;
    border: 1px solid purple;
    text-align: center;
}

.THIS .buttons{
    color: purple;
    font-variant:small-caps;
    border: 1px solid transparent;
    background-color: transparent;
    border: 1px solid transparent;
}

.THIS .buttons:hover{
    background-color:purple;
    color:white;
    font-variant:small-caps;
    border: 1px solid transparent;
}

.THIS .formExitButton{
    float:right;
}

.THIS .videoCloseButton{
    background-color: transparent;
    border: 1px solid transparent;
}
.THIS .videoCloseButton:hover{
   background-color: transparent;
   color: purple;
    
}

.THIS .formStyle{
    color:purple;
    background-color: whitesmoke;
    border: transparent;
    font-weight: 600;
    font-variant:small-caps;
}

.THIS .formStyle:hover{
    
    background-color: purple;
    border:transparent;
    font-weight: 600;
    font-variant:small-caps;
}

.THIS .vidContainer{
    width: 350px;
}