.THIS.Welcome{
    color:#D3d4d4;
    font-size: xx-large;
    text-align: center;
    font-family: Fantasy;
}
/*.THIS.Header{
    background-color: #3f3f3f;
    color: #D3d4d4;
}
.THIS.Indu{
    background-color: #3f3f3f;
    color: #D3d4d4;
}
.THIS.Education{
    background-color: #3f3f3f;
    color: #D3d4d4;
}
.THIS.Exp{
    background-color: #3f3f3f;
    color: #D3d4d4;
}
.THIS.Project {
    background-color: #3f3f3f;
    color: #D3d4d4;
}*/

