*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  /* dashicons:awards */
  .header-icon{
      width: 30px;
      height: 30px;
  }
  
  .edit-icon{
      width: 25px;
      height: 25px;
  }
  
  img {
      width: 100%; /* or any custom size */
      height: 100%; 
      object-fit: contain;
  }
  
  .strengths-header{
      position: relative;
      font-size: 1.75em;
      top: 20px;
      left: 31px;
  }
  
  .header-icon-container{
     height:50px;
  }
  
  .header-icon-upper-left{
      
      position: relative;
      top: -25px;
     
  }
  
  .strengths-header-row{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 20px;
      padding: 5px;
      background: #f5f5f5;
  }
  
  .strengths-content-row{
      display: flex; 
      justify-content: center;
      margin: 4px;
  }
  
  .skill-level{
      width: 80%;
  }
  .skill-name{
      width: 20%;
      font-size: 1.5em;
  }
  
  
  
  
  
  