/* /////////////////////////////////////////////////////////////
//	Name: projectHome.css 
//  Author: Laurent Sanou
//  Description: this file is used for styling the projectHome 
//  			 projectHome.cmp
//////////////////////////////////////////////////////////////*/
/* .THIS {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

.THIS button{
    cursor:pointer;
}

.main.THIS{
    width: 100%;
    height:100%;
    background-color:#F5F7FA;
}

.THIS .wrapper{
    width:100%;
    padding:0px 1em;
    overflow:hidden;
}

.THIS .wrapper h1{
    font:1.2em Arial Black;
    text-align:center;
    padding:1em 0em;
}

.THIS .wrapper .display-elements{
    width:100%;
    min-height:500px;
    padding:1em;
    background-color:#e4e7eb;
}
.THIS .wrapper .display-elements ul{
    list-style-type:none;
    overflow:hidden;
}
.THIS .wrapper .display-elements ul li{
    overflow:hidden;
}

.THIS .content, .THIS .actions{
    display:inline-block;
    padding-right:20px;
    font-size:0.9em;
}
.THIS .content p{
    width:90%;
    padding:1em;
    line-height:15px;
}
.THIS .actions{
    width:220px;
    float:right;
    text-align:right;
    
}
.THIS .actions button{
   margin-left:10px;
       
}

.THIS .addNewProject{
    width:100%;
    margin-top:3em;
    padding:10px;
    text-align:right;
}
.THIS .addNewProject button{
    width:200px;
    margin-right:85px;
}



.THIS .wrapper .display-elements .project{
    width:90%;
    padding:0px 0px 0px 10px;
    margin:10px auto;
    line-height:40px;
    background-color:#F0F0F0;
}

.THIS .wrapper .display-elements .empty-content{
    width:100%;
    min-height: inherit;
    
    overflow:hidden;
    position:relative;
}

.THIS .wrapper .display-elements .empty-content .empty-content-wrapper{
    position:absolute;
    width:50%;
    height:50%;
    top:25%;
    left:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#b0b2b5;
    animation: slidein 0.5s normal forwards ease-in-out;
}
.THIS .wrapper .display-elements .empty-content .empty-content-wrapper div{
	text-align:center;
    color:red;
}
.THIS .wrapper .display-elements .empty-content .empty-content-wrapper div p{
    font:1em Futura;
    padding:1em 0px;
}
.THIS .wrapper .display-elements .empty-content .empty-content-wrapper div button{
    padding:10px;
    text-shadow:2px 2px 1px #006699;
    border-radius:5px;
    background-color:#41a080;
    border:1px solid #006677;
}

.THIS .wrapper .display-elements .empty-content .empty-content-wrapper button:hover{
    background-color:#006677;
}

@media (min-width: 600px) {
    .THIS .wrapper .display-elements{
        width: 75%;
        margin:auto;
    }
}


@media (min-width: 768px) {
    .THIS .wrapper .display-elements{
        width: 65%;
    }
}

@media (min-width: 800px) {
    .THIS .wrapper .display-elements{
        width: 50%;
    }
}

@-webkit-keyframes slidein {
    0% { top: 5%; left: 5%; width:90%; height:90%;}
    25% { top: 10%; left: 10%; width:80%; height:80%;}
    50% { top: 15%; left: 15%; width:70%; height:70%;}
    75% { top: 20%; left: 20%; width:60%; height:60%;}
    100% { top: 25%; left: 25%; width:50%; height:50%;}
    
}

@-moz-keyframes slidein {
    0% { top: 5%; left: 5%; width:90%; height:90%;}
    25% { top: 10%; left: 10%; width:80%; height:80%;}
    50% { top: 15%; left: 15%; width:70%; height:70%;}
    75% { top: 20%; left: 20%; width:60%; height:60%;}
    100% { top: 25%; left: 25%; width:50%; height:50%;}
    
}

@-o-keyframes slidein {
    0% { top: 5%; left: 5%; width:90%; height:90%;}
    25% { top: 10%; left: 10%; width:80%; height:80%;}
    50% { top: 15%; left: 15%; width:70%; height:70%;}
    75% { top: 20%; left: 20%; width:60%; height:60%;}
    100% { top: 25%; left: 25%; width:50%; height:50%;}
    
}

@keyframes slidein {
    0% { top: 5%; left: 5%; width:90%; height:90%;}
    25% { top: 10%; left: 10%; width:80%; height:80%;}
    50% { top: 15%; left: 15%; width:70%; height:70%;}
    75% { top: 20%; left: 20%; width:60%; height:60%;}
    100% { top: 25%; left: 25%; width:50%; height:50%;}
    
} */