# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sfdx/
.localdevserver/

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# SOQL Query Results
**/scripts/soql/query-results

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/


.vscode
.vim-force.com
./ExamPackage/main/default/objects/Question_Assignment__c


sfdx-project.json

manifest\package.xml

# added ignores
**/profiles
**/layouts
**/flows
**/permissionsets
**/triggers
**/workflows
**/quickActions
**/matchingRules
**/flexipages
**/staticresources
**/appMenus
**/components
**/experiences
**/sites
**/navigationMenus
**/networks
**/networkBranding
**/reportTypes
**/pages

**/aura/forgotPassword
**/aura/loginForm
**/aura/selfRegister
**/aura/setExpId
**/aura/setStartUrl

**/classes/ChangePasswordController.cls
**/classes/ChangePasswordController.cls-meta.xml
**/classes/ChangePasswordControllerTest.cls
**/classes/ChangePasswordControllerTest.cls-meta.xml

**/classes/CommunitiesLandingController.cls 
**/classes/CommunitiesLandingController.cls-meta.xml
**/classes/CommunitiesLandingControllerTest.cls 
**/classes/CommunitiesLandingControllerTest.cls-meta.xml

**/classes/CommunitiesLoginController.cls 
**/classes/CommunitiesLoginController.cls-meta.xml
**/classes/CommunitiesLoginControllerTest.cls 
**/classes/CommunitiesLoginControllerTest.cls-meta.xml

**/classes/CommunitiesSelfRegConfirmController.cls 
**/classes/CommunitiesSelfRegConfirmController.cls-meta.xml
**/classes/CommunitiesSelfRegConfirmControllerTest.cls 
**/classes/CommunitiesSelfRegConfirmControllerTest.cls-meta.xml

**/classes/CommunitiesSelfRegController.cls 
**/classes/CommunitiesSelfRegController.cls-meta.xml
**/classes/CommunitiesSelfRegControllerTest.cls 
**/classes/CommunitiesSelfRegControllerTest.cls-meta.xml

**/classes/ForgotPasswordController.cls 
**/classes/ForgotPasswordController.cls-meta.xml
**/classes/ForgotPasswordControllerTest.cls 
**/classes/ForgotPasswordControllerTest.cls-meta.xml

**/classes/LightningForgotPasswordController.cls 
**/classes/LightningForgotPasswordController.cls-meta.xml
**/classes/LightningForgotPasswordControllerTest.cls 
**/classes/LightningForgotPasswordControllerTest.cls-meta.xml

**/classes/LightningLoginFormController.cls 
**/classes/LightningLoginFormController.cls-meta.xml
**/classes/LightningLoginFormControllerTest.cls 
**/classes/LightningLoginFormControllerTest.cls-meta.xml

**/classes/LightningSelfRegisterController.cls 
**/classes/LightningSelfRegisterController.cls-meta.xml
**/classes/LightningSelfRegisterControllerTest.cls 
**/classes/LightningSelfRegisterControllerTest.cls-meta.xml

**/classes/MyProfilePageController.cls 
**/classes/MyProfilePageController.cls-meta.xml
**/classes/MyProfilePageControllerTest.cls 
**/classes/MyProfilePageControllerTest.cls-meta.xml

**/classes/SiteLoginController.cls 
**/classes/SiteLoginController.cls-meta.xml
**/classes/SiteLoginControllerTest.cls 
**/classes/SiteLoginControllerTest.cls-meta.xml

**/classes/SiteRegisterController.cls 
**/classes/SiteRegisterController.cls-meta.xml
**/classes/SiteRegisterControllerTest.cls 
**/classes/SiteRegisterControllerTest.cls-meta.xml

**/classes/SiteFooter.cls 
**/classes/LightningLoginFormController.cls-meta.xml
**/classes/LightningLoginFormControllerTest.cls 
**/classes/LightningLoginFormControllerTest.cls-meta.xml

**/classes/LightningLoginFormController.cls 
**/classes/LightningLoginFormController.cls-meta.xml
**/classes/LightningLoginFormControllerTest.cls 
**/classes/LightningLoginFormControllerTest.cls-meta.xml

**/classes/LightningLoginFormController.cls 
**/classes/LightningLoginFormController.cls-meta.xml
**/classes/LightningLoginFormControllerTest.cls 
**/classes/LightningLoginFormControllerTest.cls-meta.xml

# Added back to keep changes

!**/Hero.profile-meta.xml
!**/TitanTrainer.profile-meta.xml
!**/Admin.profile-meta.xml
