/*
/////////////////////////////////////////////////////
//
//  Name: ExamStats.css
//  Author: David Serrano
//  Created: 5/13/2021
//  Updated: 5/25/2021
//  Description: CSS stylesheet for exam stats component 
//
///////////////////////////////////////////////////
*/

.THIS {
    width: 95%; 
    margin: 5% 0% 0% 5%;  
    background: #29292A; 
    border: 10px solid var(--user-team-primary); 
    height: auto;
    border-radius: 5px;
    color: white;
    padding: 20px;
}

.THIS h1{
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}

.THIS h2{
    font-size: 1.3em;
    text-align: center;
}

.THIS h3{
    font-size: 1.1em;
}

.THIS .number{
    font-weight: bold;
}

.THIS .btn{
    background: var(--user-team-primary);
    border: none;
    border-radius: 5px;
    color: white;
    margin: auto;
    padding: 5px;
    transition: .5s;
    width: 120px;
}

.THIS .btn:hover{
    background: var(--user-team-secondary);
    border: none;
    border-radius: 5px;
    color: white;
    margin: auto;
    padding: 5px;
    transition: .5s;
    width: 120px;
}

.THIS .line{
    width: 50%;
    height: 1px;
    margin: auto;
    background: white;
}

