.boxGrid {

    height: 650px;
    background-color:#1798c1;


}
.boxGrid-Hero {
    height: 250px;
    background-color:#1798c1;
    padding-top: 50px;
}
 .tabSet {
   
    margin: 10px 0;
}

.svg rect {
    fill: #5217c1;
}

.svg text {
    fill: black;
}


.bar {

    fill: #1736c1;
}