/* 
  Name: CohortPageContainer
  Author: Kameron Fincher
  Description: Container for the Cohort Hub Page  
*/
/* Define header styling */
.THIS.header{
  background-color: #0483c7;
  color:black;
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
  font-size:30px;
  float:initial;
}
/* Define body styling */
#overall-body.THIS {

padding: 3% 5% 0% 5%;

}

.THIS.test{
background-color: #0483c7;
text-align: left;
float:left;
padding-left:20px;
}
