/* 
  Name: CohortPageContainer
  Author: Kameron Fincher
  Description: Container for the Cohort Hub Page  
*/
/* Define header styling */
.THIS.header{
  background-color: #1798c1;
  color:white;
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
  font-size:30px;
  float:initial;
  font-weight: bold;
}
/* Define body styling */
#overall-body.THIS {

padding: 3% 5% 0% 5%;

}

.THIS.selectFormat{
background-color: #1798c1;
text-align: left;
float:left;
padding-left:20px;
padding-top:10px;
}

.THIS .nolabel .slds-form-element__label{
  display: none; 
  visibility: hidden;
}
