.modal_hidden {
    display: none;
}
  
lightning-card { /*title (above body)*/
    font-family: futurabold;
    font-size: 2 em;
}

.skill-button {
    border-radius: 16px;
    margin: 5px;
}

.skill-list {
    display: inline;
}