.THIS {
    position: sticky;
}

.THIS h1{
    font-size: 1.5em;
    color: white;
}

.THIS .activeTab{
    background: --user-team-primary;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 13px;
    font-weight: bold;
    transition: .5s;
}

.THIS .tab{
    background: --user-team-secondary;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: .5s;
}

.THIS .tab:hover {
    background: --user-team-primary;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 13px;
    transition: .5s;
}