/*

  Name: TitanSlayer
  Author: Josh Miccolo
  Description: Displays each TitanSlayer component
  according to name of lead team 

*/

.THIS.titanSlayer {
    margin: 0% 0% 2.5% 0%;
    transition: transform 750ms ease-in-out;
    width: 100%;
}

.THIS .titanSlayer-Alchemy {
    background-image: url(/resource/AlchemyParchment);
    background-size: cover;
    color: var(--text-color);
    font-family: 'BeyondWonderland';
    font-size: 35px;
    height: 250px;
    padding: 5px 2.5%;
    line-height: 35px;
    text-align: center;
}

.THIS .Alchemy-results {
    display: flex;
}

.THIS .titanSlayer-Alchemy-title {
    animation: fadeIn 1.5s 500ms ease-in-out forwards;
    font-size: 40px;
    line-height: 40px;
    opacity: 0;
}

.THIS .Alchemy-results .scoreWrapper > h3 {
    animation: fadeIn 1.5s 750ms forwards;
    opacity: 0;
}

.THIS .Alchemy-results .Alchemy-Scores {
    align-items: center;
    animation: fadeIn 1.5s forwards;
    display: flex;
    justify-content: space-around;
    opacity:0;
}

.THIS.hide .titanSlayer-Alchemy-body, .THIS.hide .titanSlayer-Alchemy-body2 {
    opacity: 0;
}

.THIS .titanSlayer-Alchemy-body {
    transition: opacity 1s ease-in-out;
}

.THIS .titanSlayer-Alchemy-body2 {
    display: none;
}

.THIS.switch .titanSlayer-Alchemy-body {
    display: none;
}

.THIS.switch .titanSlayer-Alchemy-body2 {
    display: block;
    transition: opacity 1s ease-in-out;
}

.THIS .Alchemy-Scores progress[value] { 
    animation: fadeIn 1.5s forwards;
    appearance: none;
    background-color: var(--alchemy-secondary);
    border-radius: none;
    filter:blur(1px);
    height: 20px;
    opacity:0;
    -webkit-appearance: none;    
    width: 50%;
}

.THIS .Alchemy-Scores progress::-webkit-progress-bar {
    background: none;
    padding: 2px;
}

.THIS .Alchemy-Scores progress::-webkit-progress-value {
    background-color: var(--synergy-primary);
}

.THIS .Alchemy-Scores.Amplifire progress::-webkit-progress-value {
    background: var(--amplifire-primary);
}

.THIS .Alchemy-Scores.Vanquish progress::-webkit-progress-value {
    background: var(--vanquish-primary);
}

.THIS .Alchemy-Scores.Alchemy progress::-webkit-progress-value {
    background: var(--alchemy-primary);
}

.THIS .Alchemy-Scores progress::-webkit-progress-value {
    background: var(--synergy-primary);
}

.THIS.titanSlayer .titanSlayer-Synergy {
    background: #030303;
    border: 2px solid grey;
    font-family: 'PressStart';
    height: 100%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;
}

.THIS .Synergy-topBar {
    background-color: var(--light-text);
    box-shadow: 1px 1px black;
    display: flex;
    justify-content: space-between;
    padding: 1px 2px;
    width: 100%;
}

.THIS .Synergy-topBar h6 {
    font-size: 15px;
}

.THIS .Synergy-topBar span {
    border: 1px solid black;
    box-shadow: 1px 1px grey;
    height: fit-content;
    padding: 2px;
}

div.THIS .titanSlayer-Synergy-body {
    height: 100%;
    padding: 1em;
    width: 100%;
}

.THIS .titanSlayer-Synergy-title {
    animation: 1s steps(12, end) 1s forwards typeOut, 1s linear infinite Blink;
    border-right: 4px solid var(--synergy-primary);
    color: var(--synergy-primary);
    font-size: 24px;
    overflow-x: hidden;
    margin: auto;
    width: 0;
}

.THIS .titanSlayer-Synergy-title h2 {
    width: 24ch;
}

.THIS .Synergy-results {
    color: var(--synergy-primary);
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    width: 100%;
}

.THIS .scoreWrapper {
    text-align: left;
    width: 50%;
}

.THIS .progressBars {
    justify-content: flex-start;
}

.THIS .Synergy-Scores {
    align-items: center;
    display: flex;
    font-size: 15px;
    justify-content: flex-start;
}

.THIS .Synergy-Scores progress[value]{
    animation: 750ms 1s ease-in-out forwards progressGrow;
    appearance: none;
    border-radius: none;
    height: 20px;
    position: relative;
    transform:scaleX(0);
    transform-origin: left;
    -webkit-appearance: none;
    width: 50%;
}

.THIS .titanSlayer-Synergy-title-second {
    display: none;
}

.THIS .titanSlayer.switch > .titanSlayer-Synergy-title-second {
    display: block;
}

.THIS.hide .titanSlayer-Synergy {
    transform: scale(0);
    transform-origin: center center;
}

.THIS.switch .titanSlayer-Synergy-body {
    display: none;
}

.THIS .titanSlayer-Synergy-body2 {
    display: none;
}

.THIS.switch .titanSlayer-Synergy-body2{
    display: block;
}

.THIS .Synergy-Scores progress::-webkit-progress-bar {
    background: none;
    padding: 2px;
}

.THIS .Synergy-Scores.Synergy h3 {
    color: var(--Synergy-primary);
}

.THIS .Synergy-Scores.Amplifire progress::-webkit-progress-value {
    background: var(--amplifire-secondary);
}

.THIS .Synergy-Scores.Amplifire h3 {
    color: var(--amplifire-primary);
}

.THIS .Synergy-Scores.Vanquish h3 {
    color: var(--vanquish-primary);
}

.THIS .Synergy-Scores.Vanquish progress::-webkit-progress-value {
    background: var(--vanquish-secondary);
}

.THIS .Synergy-Scores.Alchemy h3 {
    color: var(--alchemy-primary);
}

.THIS .Synergy-Scores.Alchemy progress::-webkit-progress-value {
    background: var(--alchemy-secondary);
}

.THIS .Synergy-Scores.Synergy h3 {
    color: var(--synergy-primary);
}

.THIS .Synergy-Scores.Synergy progress::-webkit-progress-value {
    background: var(--synergy-secondary);
}

.THIS .titanSlayer-Amplifire {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'AlfaSlab';
    overflow-x: hidden;
}

.THIS .titanSlayer-Amplifire-body {
    display: inline-block;
    overflow-x: hidden;
    transform-origin: left;
    transition: width 1s ease-in-out;
    width: 100%;
}

.THIS.switch .titanSlayer-Amplifire-body {
    width: 0%;
}

.THIS .titanSlayer-Amplifire-body2 {
    display: inline-block;
    overflow-x: hidden;
    transform-origin: right;
    transition: width 1s ease-in-out;
    width: 0%;
}

.THIS.switch .titanSlayer-Amplifire-body2 {
    width: 100%;
}

.THIS .lightBar {
    background-image: radial-gradient(circle at center, #fff 0%, #fff 25%, #000 50%);
    background-size: 5% 100%;
    border: 2px solid #000;
    height: 40px;
    width: 100%;
}

.THIS .Marquee-Bar {
    background: var(--light-text);
    border: 2px solid var(--text-color);
    color: var(--text-color);
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    letter-spacing: .5ch;
    line-height: 30px;
    overflow-x: hidden;
    text-transform:uppercase;
    width: 100%;
}

.THIS .titanSlayer-Amplifire-title > h2 {
    animation: slideRight 2s cubic-bezier(.59,-0.06,.44,1.3) 500ms forwards;
    letter-spacing: 1ch;
    line-height: 30px;
    position: relative;
    transform: translateX(-2000px);
    transition: opacity 1s;
}

.THIS .Amplifire-secondTitle {
    display: none;
}

.THIS.switch .Amplifire-secondTitle {
    display: block;
}

.THIS .Amplifire-secondary-title h3 {
    animation: slideRight 2s cubic-bezier(.59,-0.06,.44,1.3) 500ms forwards;
    position: relative;
    transform: translatex(2000px);
}

.THIS .progress-Wrapper {
    display: flex;
    overflow-x: hidden;
}

.THIS .overlay-wrapper {
    position:relative;
    width: 50%;
}

.THIS .Amplifire-Scores progress[value]{
    animation: 750ms 1s ease-in-out forwards progressGrow;
    appearance: none;
    border-radius: none;
    height: 20px;
    position: relative;
    transform:scaleX(0);
    transform-origin: left;
    -webkit-appearance: none;
    width: 50%;
}

.THIS .Amplifire-Scores progress::-webkit-progress-value {
    background: var(--text-color);
}

.THIS .Amplifire-Scores progress::-webkit-progress-bar {
    background-color: transparent;
}
.THIS .titanSlayer-Amplifire .progressBars {
    background: var(--light-text);
    color: var(--text-color);
    font-size: 20px;
    justify-content: space-around;
    width: 50%;
}
.THIS .titanSlayer-Amplifire .progressBars:nth-of-type(1) {
    border-right: none;
}

.THIS .titanSlayer-Amplifire .progressBars:nth-of-type(2) {
    border-left: none;
}

.THIS .Amplifire-Scores {
    align-items: center;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0 2.5%;
    width: 100%;
}

.THIS .Amplifire-Scores:nth-of-type(odd) {
    border-right: none;
}

.THIS .Amplifire-Scores:nth-of-type(even) {
    border-left: none;
}

.THIS .Amplifire-Scores h3 {
    font-family: 'AlfaSlab';
    font-size: 30px;
    line-height: 30px;
    letter-spacing: .5ch;
    text-transform: uppercase;
}

.THIS .Amplifire-Scores .Amplifire-starOverlay {
    background-image:url(/resource/StarImg);
    background-size: 20% 100%;
    height: 20px;
    position: absolute;
    top: 2px;
    width: 50%;
    z-index: 2;
}

.THIS .progressBars-squads {
    background: var(--light-text);
    color: var(--text-color);
    font-size: 20px;
    justify-content: space-around;
    width: 80%;
}

.THIS.switch .progressBars-squads {
    display: block;
    width: 100%;
}

.THIS .titanSlayer-Vanquish {
    background-image:url(/resource/VanquishBG);
    background-size: cover;
}

.THIS .titanSlayer-Vanquish-title {
    color: var(--light-text);
    font-family: 'Cinzel';
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.THIS .Vanquish-results {
    display: flex;
    background-color: var(--vanquish-secondary);
}
.THIS .Vanquish-results .scoreWrapper {
    width: 50%;
}

.THIS .Vanquish-results .progressBars {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.THIS .Vanquish-Scores {
    align-items: center;
    animation: dropFlags 1s ease-in-out forwards;
    background-size: cover;
    flex-direction: column;
    filter:drop-shadow(2px 2px 4px var(--text-color));
    display: flex;
    height: 150px;
    justify-content: center;
    position: relative;
    text-align: center;
    transform: scaleY(0);
    transform-origin: top;
    width: 60px;
}

.THIS .Vanquish-results {
    display: flex;
    width: 100%;
}

.THIS .Vanquish-results .scoreWrapper {
    width:50%;
}

.THIS .Vanquish-results .scoreWrapper h3 {
    color: var(--light-text);
    font-family: 'Cinzel';
    font-size: 25px;
    text-align: center;
}

.THIS .Vanquish-results .progressBars h3 {
    color: var(--text-color);
    font-family: 'Cinzel';
    font-size: 1vw;
}

.THIS .Vanquish-leaders {
    background-image: url(/resource/VanquishShield);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    margin: 20px;
    width: 50%;
}

.THIS .Vanquish-leaders h2 {
    color: var(--light-text);
    font-family: 'Cinzel';
    font-size: 35px;
    text-align: center;
}

.THIS .Vanquish-leaders .scoreWrapper {
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 100%;
    margin: auto;
    width: 80%;
}

.THIS .Vanquish-leaders .progressBars {
    width: 100%;
}

.THIS .Vanquish-leaders .Vanquish-Scores {
    width:50%;
}

.THIS .Vanquish-leaders .Vanquish-Scores h3 {
    color: var(--light-text);
    font-size: 24px;
}

/* blinking text bar */
@keyframes Blink {

    from{
        border-right: 5px solid var(--synergy-primary);
    }
    to{
        border-right: none;
    }

}

/* grow progress bars */
@keyframes progressGrow {
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(1);
    }
}

/* slides to the right position in marquee */
@keyframes slideRight {
    to{
        transform:translateX(0);
    }
}

/* drops flags in Vanquish  */
@keyframes dropFlags{
    to{
        transform:scaleY(1);
    }
}

/* generic fade in */
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}