.THIS.feed-item {
    background: #302f30;
    border-radius: 5px;
    color: #d4d5d5;
    margin: 1em;
    padding: .5em;
    text-align: left;
}

.THIS .feed-item-img {
    border-radius: 100%;
    background: #d4d5d5;
    float: left;
    height: 2em;
    margin: .5em .5em 0 0;
    width: 2em;
}

.THIS.feed-item h1 {
    font-size: 1.1em;
    font-weight: bold;
}