.THIS {
    background-color: #FAFAF9;
}
.THIS h1 {
    font-weight: bold;
    font-size: 20px;
}
.THIS h2 {
    font-weight: bold;
    text-align:center;
    font-size: 16px;
}
.THIS .messages {
    padding:4px;
    color: #494;
}
.THIS .title {
    padding:4px;
}
.THIS table#import {
    border-collapse: separate;
    border-radius: 6px;
    -moz-border-radius: 6px;
    width: 95%;
    margin: auto;
    border: 1px solid #555;
    border-radius: 5px;
}
.THIS table#import th {
    text-align: center;
    background-color: #eee;
    border-left: 1px solid #555;
    border-top:none
}
.THIS table#import td {
    border-left: 1px dashed #555;
    border-top: 1px solid #555;
    padding: 4px;
}
.THIS table#import td:first-child, .THIS table#import th:first-child {
    border-left: none;
}
.THIS .errorText {
    color: red;
    font-style: italic;
    font-weight: bold;
}