/*
  Author: Iteration VI - Style & Data
  Created date: 10/26/2021
  Description: css file. a simplification of aura component css
  Modified date: 
  Modified by:

*/

@import 'c/examStyle';

div {
  color: black;
}