/*
  Author: Iteration VI - Style & Data
  Created date: 10/26/2021
  Description: css file. a simplification of aura component css
  Modified date:
  Modified by:

*/
div { /*body (under title)*/
    color: white;
    --background-color: #474C55;
    font-family: futura-pt;
    font-size: 1.3 em;
}
  
.container {
    background-color: var(--background-color);
    /*border-color:#f26925;
    color: #f26925;
    font-family: futurabold;
    font-size: 2 em;*/
}
  
lightning-card { /*title (above body)*/
    --sds-c-card-color-background: var(--background-color);
    --sds-c-card-text-color: #f26925;
    font-family: futurabold;
    font-size: 2 em;
}

.lightning-record-form { /*doesn't work 10/25/21*/
    background-color: var(--background-color);
    color: #f26925;
    font-family: futurabold;
    font-size: 2 em;
}