.first{
    /*background-color:#ECFFFE;*/
   /* border: 1px solid green;*/
    display:flex;
    height: 10vh;
}
/*.second{
    background-color: #DFF2F1;
    border: 1px solid red; 
    display:flex;
    height: 10vh;
}*/
.info{
    /*border: 1px solid yellow; */
    width: 50%;;
    flex:1;
}
.dataholder{
    flex: 1;
    text-align: end;
    text-align: end;
}
.infoholder {
    /* border: 1px solid aqua; */
    text-align: end;
}
p.degree{ 
   /* border: 1px solid navy; */
    font-size: 19px;
    font-weight: bold;
    margin-right:31%;
}
p.time {
    margin-top: 3vh;
    /* border: 1px solid navy; */
    font-size: 19px;
    font-weight: bold;
    margin-right: 5%;
  
}
p.institution { 
    font-size: 15px;
    font-weight: bold;
    margin-right: 31%;
}
.carbon { 
    margin-top: 10px;
    margin-right: 33%;
}
p.degreetype {
    text-align:left;
}