.hidden-accordion { display: none; }

.skills {
    padding: 10px 20px;
    color: black;
    border: none;
    outline: none; 
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 25px;
    padding: 20px;
}

.projectComponent {
    display: flex;
    position: relative;
    width: 90%;
    margin-top: 20px;
    margin: 5%;
}
  
.title{
    padding: 0 15px;
    position: absolute;
    top: -15px;
    left: 25px;
    background-color: #333333;
    color: white;
    font-size: 2rem;
}
  
.projectBody{
    flex-direction: column;
    width: 100%;
}
  
  /* Clickable container that contains the button */
.projectDisplayComponent {
    background-color: #BBBBBB;
    border-radius: 10px;
    min-height: 80px;
    min-width: 70%;
    margin-top: 1%;
}