.hidden-accordion { display: none; }

.skills {
    padding: 10px 20px;
    margin: 5px;
    color: black;
    border: none;
    outline: none; 
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}