.THIS{
    background-color: #c9c7c7;
    color: black;
}

.THIS.slds-page-header{
    font-size: large;
}

.THIS .slds-form {
    margin-left: 1%;
    margin-right: 1%;
}

.THIS .slds-form-element{
    color: #eff0f0;
}

.THIS .slds-input{
    color:black;
}
