/*
Created by: Andrew Emond
Updated by: Mohamed A. and Payal P.
Description: CSS styling for header
Date Created: 1/21/22
Date Updated: 2/22/22
*/

* {
  box-sizing: border-box;
}

.triangle {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.image-container {
 position: relative;
 border-radius: 5px;
 width: 100%;
 justify-content: center;
 display: flex;
 height: 200px;
 align-items: center;
}
.teamPic {
 width: 10%;
 height: auto;
 position: absolute;
 z-index: 2;
 top:4%;
 right:1%;
 margin-top: 40px;
}

.tottImage {
   height:200px;
   width: auto;
   display: flex;
   z-index: 2; 
   display: block; 
   
}

.techTitle {
font-weight: bolder;
font-size: 200%;
position: absolute;
 top: 80%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
}

.header-container {
 display: flex;
 /* margin: 15px 33px 0px 33px; */
 margin: 10px;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
