.THIS .boxGrid {

    height: 600px;
    background-color:#fef8ec;
    border-radius: 5px;

}

.THIS .boxGrid-Hero {

    height: 250px;
    background-color:#fef8ec;
    border-radius: 5px;

}

.THIS .tabSet {

    margin: 10px 0;

}

.THIS svg rect {
    fill: rgb(249,182,68);
}

.THIS svg text {
    fill: black;
}

.THIS .bar {
    fill: rgb(249,182,68);
}