.THIS.toggle-hide {
  display: none;
}
.THIS {
       color: white;
    --background-color:#302f30;
}
.THIS.bannerDiv {
  background-image: url('/resource/TitanResources/GodsBanner.png');
  background-repeat: repeat-y;
}
.THIS#div{
        background-color: var(--background-color);
}
.THIS {
    background-color: var(--background-color);
}

.THIS#Header {
    background-color:var(--background-color);
    color:white;
}
.THIS.card{
        background-color: var(--background-color);
}

.THIS.slds-card{
    background-color: var(--background-color);

    
}
.THIS.slds-media_center{
    background-color: var(--background-color);
    
}
.THIS.slds-m-around_large{
}
.THIS.slds-card_boundary{
    background-color: var(--background-color);
    
}
.THIS.slds-card__body_inner{
    background-color: var(--background-color);
    
}
.THIS.slds-card_boundary{
    background-color: var(--background-color);
    
}
.THIS.slds-card-wrapper{
    background-color: var(--background-color);
    
}
.THIS.slds-card__footer{
    background-color: var(--background-color);
    
}
.THIS .slds-grid{
        background-color: var(--background-color);
}
.THIS .slds-col{
        background-color: var(--background-color);
}
.THIS .slds-gutters{
        background-color: var(--background-color);
}
.THIS .slds-card__header{
        background-color: var(--background-color);
}
.THIS .slds-card__header-title{
        background-color: var(--background-color);
}
.THIS .slds-text-heading_small{
    font-size: x-large;
    text-decoration:bold;
}
.THIS .slds-card__header-link{
        background-color: var(--background-color);
}
.THIS .slds-card__body{
        background-color: var(--background-color);
}
.THIS .slds-card__footer{
        background-color: var(--background-color);
}

.THIS#contactinfo {
    position: relative;
}