.Completed{
    display: flex; 
    background-color: #1edd1e;
}

.Assigned{
    display: flex; 
    background-color: white;
}
.Unassigned{
    display: flex; 
    background-color: grey;
}

.tile_holder {
    display:flex;
    justify-content: center;
    height: 100px;
}

button {
    justify-content: center;
    align-items: center;
    color: black; 
    height: 45px;
    width: 200px;
    margin: 5px; 
    padding: 5px;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.2)
} 


