.b-flagged {
    --sds-c-button-brand-color-background: #fbe3e3;
    --slds-c-button-brand-color-border: #fbe3e3;
    --sds-c-button-brand-text-color: black;

}

.b-marked {
    --sds-c-button-brand-color-background: #fcfce1;
    --slds-c-button-brand-color-border: #fcfce1;
    --sds-c-button-brand-text-color: black;
}

.b-answered {
    --sds-c-button-brand-color-background: #cfdcff;
    --sds-c-button-brand-text-color: black;
    --slds-c-button-brand-color-border: #cfdcff;
}

.b-unanswered {
    --sds-c-button-brand-color-background: #c4c4c4;
    --sds-c-button-brand-text-color: black;
    --slds-c-button-brand-color-border: #c4c4c4;
}

.flagged {
    background-color: #f7c3b1;
    background-color: #3c89d0;
}