.slds-card {   
    font-size:large;
    padding:5px;
    margin:10px;
    background-color:lightgray;
    min-height:100px;
}
img {
    height: 100px;
    width: 100%;
}

.slds-col p {
    text-align:center;
}
