* {
  box-sizing: border-box;
}

.container {
  display: flex;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;

}

.tabset {
  margin: 10px;
  border: none;
}

.notes-video-container {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: #bbbbbb;
}

