@import "c/styleResource";

/* .container { 
    border: 1px solid; 
    padding: 2em;}

.container div {
    margin: 6px;
    
}

.column { 
    border: 1px solid; 
    float:left; 
    width: 30%; 
    text-align:center; }

.row {
  clear:both;
  display: inline-flex;
  flex-wrap: wrap;

}
.append {
  margin-top:20px;
}
 .body{
     display: inline-flex;
     flex-wrap: wrap;
 }

 .box{
     display: inline-flex;
     flex-wrap: wrap;
 }

 .box div {
     margin: 6px;
 } */

 .recordHeader {
    background-color: var(--color-accent); 
    color: white; 
    padding:8px; 
    width:380px; 
    height:36px;
    margin-right:1.5em;
    /* flex: 1 0 25%; */
 }

 .icon{
     --sds-c-icon-color-foreground: var(--color-accent);
 }

 .headericon{
    --sds-c-icon-color-foreground: white;
}

.progressicon{
    --sds-c-icon-color-foreground: var(--color-accent);
    /* padding-left: 6px; */
}

 .matrixContainer{
     /* padding: 1.6em; */
     background-color: var(--color-primary);
     /* width: var(--component-width); */
 }

 .recordContainer{
     background-color: var(--color-ternary);
     width:380px; 
     margin-right:1.5em;
     /* flex: 1 0 25%; */
     margin-bottom:1.5em;
 }

 .progressBar{
     /* width: 320px;
     height: 20px; */
     /* display: none; */
     display: inline-flex;
 }

 .card-body{
     padding: 1.5em;
 }

 li{
    width:380px;
 }

 ul{
    background-color: var(--color-ternary); 
    width:380px; 
    padding:1.6em;
    margin-right:1.5em;
    /* flex: 1 0 25%; */
    margin-bottom:1.5em;
 }

 /* .delete_button{
     padding-left: 6px;
 } */

 .heading{
    /* padding-left: 7px;  */
    position: relative;
    font-size: var(--font-size-heading);
    color: var(--color-accent);
    /* top: 10px; */
 }

 /* .icon-logo{
    margin-left: 2px;
    margin-top: 15px;
    
 } */

 .headerContainer{
    display: flex; 
    flex-direction: row; 
    align-items: center;
 }

 .icons{
    margin-left: auto;
}




/* Mountain's code */

 .myProgress {
    width: 100px;
    height: 22px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    margin-left: 20px;
  }
  
  /* *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
  } */


  .myBar {
    width: 0%;
    background-color: #00E2D5;
    border-radius: 10px;
    height: 30px;
  }

.error {
    border-color: red;
}

.score-percentage {
   padding-left: 5px;
   /* font-weight: 500; */
   /* font-size: 1.5em; */
  
}

.display{
    display: block;
}

.scoreInput{
    width: 30px;
}


