@import "c/styleResource";

.content-container {
    display: flex;
    justify-content: flex-end;
    background-color: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--color-secondary));
    /* Round right corners to align with the profile picture */
    border-radius: 0 calc(var(--photo-small)/2) calc(var(--photo-small)/2) 0;
}

.image-container {
    width: var(--photo-small);
    height: var(--photo-small);
    margin: 0 0 0 var(--space-small);
}

img {
    border-radius: 50%;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: var(--space-small);
}

.hero-name {
    display: flex;
    align-items: baseline;
    font-size: xx-large;
}

.edit-button {
    --sds-c-icon-color-foreground-default: blue;
    --sds-c-icon-color-background: none;
    margin-right: var(--pad);
}
