@import "c/styleResource";

.content-container {
    display: flex;
    justify-content: flex-end;
    background-color: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--color-secondary));
    /* Round right corners to align with the profile picture */
    border-radius: 0 calc(var(--photo-small)/2) calc(var(--photo-small)/2) 0;
}

.image-container {
    width: var(--photo-small);
    height: var(--photo-small);
    margin: 0 0 0 var(--space-xsmall);
}

img {
    border-radius: 50%;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: var(--space-xsmall);
}

.hero-name {
    display: flex;
    align-items: baseline;
    font-size: xx-large;
}

.hero-title {
    font-size: large;
    padding-bottom: calc(var(--space-xsmall)/4);
}

.cert-container {
    display: flex;
    align-items: center;
}

.cert-text {
    font-size: medium;
    margin: 0 calc(var(--space-xsmall)/4);
}

.edit-button {
    --sds-c-icon-color-foreground-default: var(--color-accent);
    --sds-c-icon-color-background: none;
}

.menu-button {
    --sds-c-icon-color-foreground-default: var(--color-accent);
    --sds-c-button-color-foreground-default: var(--color-accent);
    --sds-c-button-color-background: var(--color-primary)
}

.edit-modal {
    background-color: var(--color-primary);
}