.THIS .boxGrid {

    height: 650px;
    background-color:#1798c1;


}
.THIS .boxGrid-Hero {
    height: 250px;
    background-color:#1798c1;
    padding-top: 50px;
}
.THIS .tabSet {
   
    margin: 10px 0;
}

.THIS svg rect {
    fill: #5217c1;
}

.THIS svg text {
    fill: black;
}


.THIS .bar {

    fill: #1736c1;
}