.THIS{
    background-color: #c9c7c7;
    color: black;
}

.THIS .slds-card_header-title{
    font-size: large;
}

.THIS #dt{
    background-color: #3f3f3f;
    color: #d3d4d4;
}

.THIS .slds-table_header{
    color: #d3d4d4;
}

.THIS .slds-cell{
    
}

.THIS .slds-truncate{
    color: black;
}

.THIS .slds-form {
    margin-left: 1%;
    margin-right: 1%;
}

.THIS .slds-form-element{
    color: #eff0f0;
}

.THIS .slds-input{
    color:black;
}