#progress-chart.THIS  {
  box-sizing:border-box;
  flex: 1 1 80%;
  transform: scale(1);
  transform-origin: top left;
  transition: transform 500ms ease-in-out;
}

#progress-chart.THIS.shrunk-chart{
  transform: scale(.2);
}

#progress-chart.THIS  svg {
  transform-origin:top left;
  transition: transform 750ms ease-in; 
}
.THIS path[id^="chart-section-"]{
  animation: createSvg .5s;
  animation-fill-mode: both;
}

@keyframes createSvg {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes recentSvg {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }