.THIS.Card{
    background-color: #3f3f3f;
    color: #d3d4d4;

}
.THIS.EditCard{
    background-color: #3f3f3f;
    color: #d3d4d4;

}
.THIS.Test{
    color: #d4d3d3;
    background-color:#3f3f3f;
}

