.THIS.wrapper {
    width: 90vw;
    color: darkgrey;
    border: 1px solid white;
    min-height: 100vh;
}

.THIS .pass {
    color: green;
    pointer-events: none;
    font-weight: 1000;
}

.THIS .flex-wrapper {
    display: flex;
}

.THIS .flex-wrapper .main-panel {
    min-width: 50vw;
}

.THIS .flex-wrapper .titan-tabs {
    min-width: 20vw;
    border: 1px solid red;
}

.THIS .flex-wrapper .right-panel {
    min-width: 20vw;
    border: 1px solid red;
}

.THIS .exam-btn-group {
    display: grid;
    grid-template-rows: repeat(1fr);
    /* width: 60%; */
    gap: 1em;
    margin: 0 auto;
}

.THIS .exam-btn {
    border: 2px solid white;
    background: white;
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    height: 30px;
    border-radius: 7px;
    /* text-align: center; */
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.THIS .exam-btn:hover {
    color: white;
    background-color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 7px;
    text-align: center;
}

.THIS .titan-tab-group {
    display: flex;
    flex-direction: column;
    min-width: 19vw;
    gap: 0.3em;
}

.THIS .titan-tab {
    color: black;
    background: white;
    border-left: 3px solid white;
    cursor: pointer;
}

.THIS .titan-tab:hover {
    border-left: 3px solid red;
}