.THIS#feed-tab {
    background: #302f30;
    border-bottom: 2px solid #302f30;
    font-size: 1.2em;
    font-weight: bold;
    padding: .5em 0;
    text-decoration: underline;
}

.THIS#feed-tab:hover {
    background: #141414;
    border-bottom: 2px solid #84b059;
    color: #84b059;
    cursor: pointer;
}
