.THIS.active-tab {
    background: #141414;
    border-bottom: 2px solid var(--user-team-primary);
    color: var(--user-team-primary);
    font-size: 1.2em;
    font-weight: bold;
    padding: .5em 0;
}

.THIS.tab {
    background: #302f30;
    border-bottom: 2px solid #302f30;
    font-size: 1.2em;
    font-weight: bold;
    padding: .5em 0;
}

.THIS.tab:hover {
    background: #141414;
    border-bottom: 2px solid var(--user-team-primary);
    color: var(--user-team-primary);
    cursor: pointer;
}