/*
	Name: Public Videos stylesheet
	Author: Alyssa Reed
	Description: CSS stylesheet for publicVideos */


.THIS {
    /*background-color: var(--user-team-secondary);*/
    width: 100%;
}

.THIS button{
    color:white;
  background-color:var(--user-team-primary);
}
.THIS button:hover{
    background-color:var(--user-team-primary);
    color:black;
}

.THIS .filterStyle{
 	padding-right:10%;
    padding-top: 1%;
}

.THIS .outerContainer{
	padding-top: 7%;    
    margin-left: 5%;
    margin-right: 5%;
    background-color:transparent;
	border:transparent;
}