/*---------------------------------
  Name: HeroResultPage.css
  Author: Wootae Yang
  Description: HeroResultPage Style
---------------------------------*/

.THIS .middle-container {
    bottom: 0;
}