/*---------------------------------
  Name: HeroResultPage.css
  Author: Wootae Yang
  Description: HeroResultPage Style
---------------------------------*/

.THIS .middle-container {
    max-height: 50rem;
}
