/* .slds-grid{
    background-color: #c4c4c4;
    Padding: 15px 7px 0px 7px;
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
} */

* {
    box-sizing: border-box;
    /* slds-grid slds-wrap slds-box */
    /* slds-size_1-of-3 */
}

.container {
    /* display:flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: #c4c4c4;  */

    display:flex;
    background-color: red;
    margin: 32px;
    padding: 5px;
    border-radius: 5px;
    justify-content: space-around;
    background-color: #c4c4c4; 
    
}

.child {
    margin: 5px;
    padding: 5px; 
    max-width: 32%;
    background-color: #fbe3e3;
    border-radius: 5px;
}