*{
    background-color: white;
    
}

.red{
    background-color: #FF3838;
    border: 1px;
    border-style:solid;
    font-size: 16px;
    font-weight: bold;
    padding:10px;
    padding-left: 25px;
    font-weight: bold;

}

.green{
    background-color: #3DEA39;
    border:1px;
    border-style: solid;
    font-size: 16px;
    padding:10px;
    padding-left: 25px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 2em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.question-name {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
