.THIS.header-animatedHeader {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}

.THIS .header-animatedHeader_Alchemy, 
.THIS .header-animatedHeader_Amplifire, 
.THIS .header-animatedHeader_Synergy,
.THIS .header-animatedHeader_Vanquish,
.THIS .header-animatedHeader_normal {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.THIS .header-animateHeader_Alchemy {
  background-color: var(--alchemy-primary);
}

.THIS .header-animatedHeader_Amplifire{
  background-color: var(--amplifire-primary);
}

.THIS .header-animatedHeader_Synergy{
  background-color: #000;
  overflow: hidden;
  position: relative;
  height: 80px;
  width: 100%;
}
.THIS .header-animatedHeader_Synergy-title {
  font-size: 50px;
  color: #000;
  height: 80px;
  line-height: 80px;
  font-family:'PressStart';
  z-index: 1000;
  position: absolute;
  width: 100%;
  text-align: center;
}

.THIS .Synergy-codeText-wrapper {
  width: 100%;
  display: flex;
}

.THIS .Synergy-codeText {
  width: 0;
  display: block;
  color: var(--synergy-primary);
  font-size: 4px;
  overflow:hidden;
  white-space: nowrap;
  animation: 3s steps(100, end) 500ms forwards typeOutFull;
}
.THIS .Synergy-codeText-wrapper:nth-of-type(even){
  justify-content: flex-end;
}

.THIS .header-animatedHeader_Vanquish{
  background-color: var(--vanquish-primary);
}

.THIS .Vanquish-title {
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  font-family: "Cinzel";
  text-align: center;
  color: var(--light-text);
  background-image: url(/resource/VanquishSword);
  background-size: 400px 100%;
  background-repeat: no-repeat;
  background-position: -100%;
  animation:swordIn 2s ease-in 500ms forwards;
}



.THIS .header-animatedHeader_normal {
  background-color: var(--light-text);
  color: var(--background-color);
}

.THIS .header-animateHeader_Amplifire{
  background-image: url(/resource/Flames), url(/resource/Flames);
  background-position: 0, 35px 0; 
  background-size: 100%;
  height:100%;
  font-family: 'Slaytanic';
  color: var(--light-text);
  position: relative;
  animation: Slayer 3s reverse infinite;
  display: flex;
}

.THIS .header-animateHeader_Amplifire h1 {
  font-size: 70px;
  width: 80%;
  text-align: center;
  letter-spacing: .5ch;
}

.THIS .amps {
  width: 10%;
  height: 100%;
  background-image: url(/resource/amp);
  background-size: 33% 100%;
}

@media only screen and (max-width:1000px){

  .THIS .header-animatedHeader_Synergy-title {
    font-size: 30px;
    
  }
}
@keyframes typeOutFull {
    to{
        width: 100%;
    }
}

@keyframes Slayer {
  from{
    background-position: 0, 35px 0;
  }
  to{ 
    background-position: 35px 0, 0;
  }
}

@keyframes swordIn {
  to {
    background-position: 45%, center;
  }
}