/*
  Author: Iteration VI - Style & Data
  Created date: 10/26/2021
  Description: css file. a simplification of aura component css
  Modified date: 
  Modified by:

*/

@import 'c/heroHubStyle';
/*p
{
    text-align: center;
}
.cert-title
{
    border: 1px solid #d2955d;
    border-radius: .25rem; 
    display: block; 
    text-align: center; 
} */