.THIS .circle-grid{
    fill: transparent;
    stroke: grey;
    stroke-width: .5;
    stroke-dasharray: 5 5;
}
#mydthree.THIS {
    flex:1 1 20%;
    box-sizing: border-box;
    transform:scale(1);
    transform-origin: top right;
    transition: transform 500ms ease-in-out;
}

#mydthree.THIS.shrunk-chart {
    transform:scale(4);
}

.THIS .blank text{ display:none;}
.THIS tick:first-of-type{ display:none;}
.THIS .radials {
    fill-opacity: .1;
    stroke-width: 2;
}