.THIS .circle-grid{
    fill: transparent;
    stroke: grey;
    stroke-width: .5;
    stroke-dasharray: 5 5;
}


.THIS .blank text{ display:none;}
.THIS tick:first-of-type{ display:none;}
.THIS .radials {
    fill-opacity: .1;
    stroke-width: 2;
}