/*
 * @description       : Question overview card to track status of questions and question redirects
 * @author            : Nathan Nassib
 * @group             :
 * @last modified on  : 02-15-2022
 * @last modified by  : Nathan Nassib
 * Modifications Log
 * Ver   Date         Author               Modification
 * 1.0   02-15-2022   Nathan Nassib        Initial Version
 **/
 
 @import 'c/examStyle';

.b-flagged {
    --sds-c-button-color-background: #fbe3e3;
    --slds-c-button-color-border: #fbe3e3;
    --sds-c-button-text-color: black;

}

.b-marked {
    --sds-c-button-color-background: #fcfce1;
    --slds-c-button-color-border: #fcfce1;
    --sds-c-button-text-color: black;
}

.b-answered {
    --sds-c-button-color-background: #cfdcff;
    --sds-c-button-text-color: black;
    --slds-c-button-color-border: #cfdcff;
}

.b-unanswered {
    --sds-c-button-color-background: #c4c4c4;
    --sds-c-button-text-color: black;
    --slds-c-button-color-border: #c4c4c4;
}

.b-correct {
    --sds-c-button-color-background: #9BCE73;
    --sds-c-button-text-color: black;
    --slds-c-button-color-border: #9BCE73;
}

.b-incorrect {
    --sds-c-button-color-background: #CC6363;
    --sds-c-button-text-color: black;
    --slds-c-button-color-border: #CC6363;
}

.flagged {
    background-color: #f7c3b1;
    background-color: #3c89d0;
}

.testy-test {

    width: 4%;
}

.marked {
    text-align:center;
    background-color:#fcfce1;
    border-radius: 3px;
}

.flagged {
    text-align:center;
    background-color:#fbe3e3;
    border-radius: 3px;
}

.answered {
    text-align:center;
    background-color:#cfdcff;
    border-radius: 3px;
}

.unanswered {
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 5px;
}

.correct {
    text-align:center;
    background-color:#9BCE73;
    border-radius: 5px;
}

.incorrect {
    text-align:center;
    background-color:#CC6363;
    border-radius: 5px;
}

.l-correct {
    --sds-c-button-brand-color-background: #9BCE73;
    --slds-c-button-brand-color-border: #9BCE73;
}

.l-incorrect {
    --sds-c-button-brand-color-background: #CC6363;
    --slds-c-button-brand-color-border: #CC6363;
}


.l-answered {
    --sds-c-button-brand-color-background: #cfdcff;
    --slds-c-button-brand-color-border: #cfdcff;
}

.l-unanswered {
    --sds-c-button-brand-color-background: #c4c4c4;
    --slds-c-button-brand-color-border: #c4c4c4;
}

.l-marked {
    --sds-c-button-brand-color-background: #fcfce1;
    --slds-c-button-brand-color-border: #fcfce1;
}

.l-flagged {
    --sds-c-button-brand-color-background: #fbe3e3;
    --slds-c-button-brand-color-border: #fbe3e3;
}