@import 'c/titanPageStyle';


/*

  Title: lwcLandingSkills
  Author: Colin Poirier
  Created date: 10/16/2021
  Description: css file. a simplification of aura component css
  Modified date: 10/19/2021
  Modified by: Colin Poirier



div {
  color: white;
  --background-color: #302f30;
}
.container {
  background-color: var(--background-color);
}

lightning-card {
  --sds-c-card-color-background: var(--background-color);
}
*/