.THIS {
    --background-color: #d4d5d5;
    --text-color: #302f30;
    --vanquish-primary: #7aa7e9;
    --vanquish-secondary: #5f70b0;
    --amplifire-primary: #ef6363;
    --amplifire-secondary: #c24747;
    --alchemy-primary: #84b059;
    --alchemy-secondary: #539951;
    --synergy-primary: #ffdd00;
    --synergy-secondary: #fbb034;
    --padding: .5em;
}
.THIS.header {
    width: 100%;
}