.THIS#compose-holder {
    min-height: 5em;
}

.THIS #compose-submit {
    background: var(--user-team-primary);
    border-radius: 0 5px 5px 0;
    /*color: #302f30; Turned off because background is also same color so imposible to read with it*/
    font-weight: bold;
    min-height: 100%;
    padding: 1.5em;
}

.THIS #compose-submit:hover {
    background: var(--user-team-secondary);
    /*color: #302f30; Turned off because background is also same color so imposible to read with it*/
    cursor: pointer;
}

.THIS #compose-submit p {
    height: 100%;
    width: 100%;
}

.THIS #compose-text {
    background: #d4d5d5;
    border-radius: 5px 0 0 5px;
    min-height: 100%;
}

.THIS #compose-text textarea {
    background: rgb(0, 0, 0, 0);
    border: 0;
    border-radius: 5px 0 0 5px;
    color: #302f30;
    height: 100%;
    outline: none;
    resize: none;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

.THIS #compose-text input:active {
    border: 1px solid var(--user-team-primary);
    outline-color: var(--user-team-primary);
}