/*
/////////////////////////////////////////////////////
//
//  Name: HeroJourney.css
//  Author: David Serrano
//  Description: CSS style sheet for HeroJourney display
//
///////////////////////////////////////////////////
*/

.THIS .chartBox{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10%;
}

.THIS .chart-title {
    font-size: 24px;
    width: 100%;
    text-align: center;
}